(basicProxy) {
    encode zstd gzip
    reverse_proxy {args.0}:{args.1} {
        header_up X-Real-IP {remote_host}
    }
}

bw.{$DOMAIN_NAME} {
    reverse_proxy /notifications/hub vaultwarden:3012

    import basicProxy "vaultwarden" "80"
}

cloud.{$DOMAIN_NAME} {
    import basicProxy "nextcloud" "80"
}

yt.{$DOMAIN_NAME} {
    import basicProxy "invidious" "3000"
}

jelly.{$DOMAIN_NAME} {
    import basicProxy "host.docker.internal" "8096"
}

{$DOMAIN_NAME}, www.{$DOMAIN_NAME} {
    encode zstd gzip

    handle /dns-query {
        reverse_proxy /dns-query doh:8053
    }

    handle {
        reverse_proxy portfolio:8080
    }
}
